<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>reptile</title>
    <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css'>
    <!--[if lte IE 8]><link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css' /><![endif]-->
    <style>
      .leaflet-container { background: #000 }
      body { padding: 0; margin: 0 }
      html, body, #map { height: 100%; width: 100% }
    </style>
  </head>
  <body>
    <div id='map' class='leaflet-container leaflet-fade-anim' tabindex='0'></div>
    <script src='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js'></script>
    <script>
      var map = L.map('map', {
        minZoom: 0,
        maxZoom: 10,
        crs: L.CRS.Simple,
        center: [0, 0],
        zoom: 4
      });

      var southWest = map.unproject([0, 8*{{height}}], map.getMaxZoom());
      var northEast = map.unproject([8*{{width}}, 0], map.getMaxZoom());
      map.setMaxBounds(new L.LatLngBounds(southWest, northEast));

      L.tileLayer('{{filename}}/{z}/{x}/{y}.png', {
        attribution: 'NASA/JPL/University of Arizona',
      }).addTo(map);
    </script>
  </body>
</html>
